@require 'animations'
@require 'components'

html
    overflow hidden
    background-color #1f1d2e

    @media (max-height 768px)
      overflow auto
    
    @media (max-width 768px)
      margin-bottom 10rem

body main
    font-family "Atkinson Hyperlegible", serif