---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import img from "../images/04-4K.png";
import Bluesky from "../components/Bluesky.astro";
import Github from "../components/Github.astro";
---

<Layout title="Kainoa's Portfolio">
  <main>
    <div class="header">
      <h1>Hi, I'm</h1>
      <Logo />
    </div>
    <div class="textBlock">
      <p style="font-size: 2rem; min-width: 60vw">
        I make cool stuff on the Internet! Sometimes I write about it if I
        remember to. Cofounder and CTO of <a href="https://inertia.social"
          >Inertia</a
        >.
      </p>
      <p style="min-width: 80vw">Here's some links where you can find me:</p>
    </div>
    <div class="links">
      <Bluesky />
      <Github />
      <a
        href="mailto:kainoa@t1c.dev"
        aria-label="Email"
        style="margin-left: 0.2em"
      >
        <div class="link">
          <Icon name="ph:envelope-open-fill" />
        </div>
      </a>
    </div>
    <div class="cover">
      <Image draggable="false" alt="" src={img} quality="high" />
    </div>
  </main>
</Layout>

<style lang="stylus">
main
    display flex
    flex-direction column
    align-items center
    justify-content center
</style>
