<div class="logo" transition:name="logo" transition:animate="initial">
  <svg
    aria-label="Kainoa"
    xmlns="http://www.w3.org/2000/svg"
    xml:space="preserve"
    viewBox="42.05 124.55 117.52 37.32"
  >
    <defs>
      <linearGradient id="prefix__b">
        <stop offset="0" stop-color="#286983"></stop>
        <stop offset="1" stop-color="#31748f"></stop>
      </linearGradient>
      <linearGradient
        xlink:href="#prefix__b"
        id="prefix__c"
        x1="43.227"
        y1="153.555"
        x2="158.394"
        y2="132.865"
        gradientUnits="userSpaceOnUse"></linearGradient>
    </defs>
    <path
      style="fill:url(#prefix__b);stroke-linecap:round;stroke-linejoin:round;stroke:#F8F6F2;stroke-linecap:round;"
      d="M48.378 153.526v-5.121c0-2.826-2.296-5.121-5.151-5.121v5.12c0 2.826 2.296 5.122 5.15 5.122zm-5.151-15.422v5.18c2.855 0 5.15-2.325 5.15-5.18v-5.18c-2.854 0-5.15 2.325-5.15 5.18zm10.33 7.27l-4.885-2.12c-.942 3.297.47 6.917 3.15 8.094l4.885 2.12c.942-3.297-.471-6.917-3.15-8.095zm0-4.357c2.679-1.147 4.092-4.768 3.15-8.093l-4.886 2.148c-2.678 1.148-4.091 4.768-3.15 8.065zm6.564-2.913v5.18c2.855 0 5.15-2.325 5.15-5.18v-5.18c-2.854 0-5.15 2.325-5.15 5.18zm0 5.18v5.12a5.156 5.156 0 005.15 5.151v-5.15c0-2.826-2.295-5.121-5.15-5.121zm15.57-10.36v5.18c0 2.855 2.295 5.18 5.15 5.18v-5.18c0-2.855-2.296-5.18-5.15-5.18zm-.03 0h-5.18a5.188 5.188 0 00-5.18 5.18h5.18a5.169 5.169 0 005.18-5.18zm.03 15.48v5.122c2.854 0 5.15-2.296 5.15-5.121v-5.121c-2.855 0-5.15 2.295-5.15 5.12zm-5.004-7.71a5.188 5.188 0 00-5.18 5.18h5.18a5.188 5.188 0 005.18-5.18zm13.715-7.83v5.18c0 2.856 2.296 5.18 5.15 5.18v-5.18c0-2.854-2.295-5.18-5.15-5.18zm0 15.54v5.122c2.855 0 5.15-2.296 5.15-5.121v-5.121c-2.854 0-5.15 2.295-5.15 5.12zm8.712-10.3v5.18c2.855 0 5.15-2.325 5.15-5.18v-5.18c-2.854 0-5.15 2.325-5.15 5.18zm5.15 15.422v-5.121c0-2.826-2.295-5.121-5.15-5.121v5.12c0 2.826 2.296 5.122 5.15 5.122zm8.418-20.602h-3.237a5.188 5.188 0 00-5.18 5.18h3.237a5.169 5.169 0 005.18-5.18v5.18c0 2.855 2.296 5.18 5.15 5.18v-5.18c0-2.855-2.295-5.18-5.15-5.18zm0 15.48v5.122c2.855 0 5.15-2.296 5.15-5.121v-5.121c-2.854 0-5.15 2.295-5.15 5.12zm13.863 5.122v-5.121c0-2.826-2.296-5.121-5.15-5.121v5.12c0 2.826 2.295 5.122 5.15 5.122zm8.417-20.602v5.18c0 2.855 2.296 5.18 5.15 5.18v-5.18c0-2.855-2.295-5.18-5.15-5.18zm-5.18 0h-3.237c-2.855 0-5.15 2.325-5.15 5.18v5.18c2.854 0 5.15-2.325 5.15-5.18v-5.18a5.169 5.169 0 005.18 5.18h3.237a5.188 5.188 0 00-5.18-5.18zm5.18 15.48v5.122c0-2.855-2.325-5.15-5.18-5.15h-3.237c0 2.854 2.325 5.15 5.18 5.15h3.237c2.855 0 5.15-2.296 5.15-5.121v-5.121c-2.854 0-5.15 2.295-5.15 5.12zm8.712-10.3v5.18c2.855 0 5.15-2.325 5.15-5.18v-5.18c-2.854 0-5.15 2.325-5.15 5.18zm0 5.18v5.12a5.156 5.156 0 005.15 5.151v-5.15c0-2.826-2.295-5.121-5.15-5.121zm15.57-10.36v5.18c0 2.855 2.295 5.18 5.15 5.18v-5.18c0-2.855-2.295-5.18-5.15-5.18zm-.03 0h-5.18a5.188 5.188 0 00-5.18 5.18h5.18a5.169 5.169 0 005.18-5.18zm.03 15.48v5.122c2.855 0 5.15-2.296 5.15-5.121v-5.121c-2.855 0-5.15 2.295-5.15 5.12zm-5.004-7.71a5.188 5.188 0 00-5.18 5.18h5.18a5.188 5.188 0 005.18-5.18z"
      id="g8"
      ></path>
    <style>
      #g8 {
        stroke-width: 0.6;
        transition: stroke-width 0.3s;
        stroke-dasharray: 200;
        animation: dashText 5s cubic-bezier(0.45, 0, 0.55, 1) infinite forwards;
      }
      #g8:hover {
        stroke-width: 1;
        transition: stroke-width 0.3s;
      }
    </style>
  </svg>
</div>

<style lang="stylus">
  .logo
    width 40rem
    transition all 0.4s ease-in-out

    @media (max-width 768px)
      width 80vw

    @media (max-height 768px)
      margin-top 2rem

</style>
